.navbar {
    height: 75px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 99999; // 1 isn't sufficient becausa leaflet map...
}

.navbar-brand {
    margin: 0rem 5rem;
}

.nav-item {
    margin: 0rem 0.8rem;
}

.nav-link {
    font-weight: bold;
    font-size: 1.1rem;
}