@import "vars.scss";

.custom-logo {
    max-height: 75px;
}

.navbar {
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 99999; // 1 isn't sufficient because leaflet map...
}

.navbar-brand {
    margin: 0rem 5rem;
}

.nav-item {
    margin: 0rem 0.8rem;
}

.nav-item:hover {
    // margin: 0rem 0.8rem;
    // background-color: #fcf9eb;
    // color: $primary-color;
}

.nav-link {
    font-weight: bold;
    font-size: 1.1rem;
}

.nav-link:hover {
    color: $primary-color !important;
}