<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a class="navbar-brand" href="#">
    <img class="custom-logo" src="assets/img/logo.png" />
  </a>

  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
    &#9776;
  </button>

  <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <div class="navbar-nav" *ngFor="let menuItem of menuItems">
        <div *ngIf="menuItem.route != null">
          <a class="nav-item nav-link" [routerLink]="menuItem.route" (click)="isCollapsed = true">{{'MENU.' + menuItem.title | uppercase | translate}}</a>
        </div>
        <div *ngIf="menuItem.subMenus != null">
          <div ngbDropdown>
            <a class="nav-item nav-link dropdown-toggle" id="nav-dropdown" ngbDropdownToggle>
                {{'MENU.' + menuItem.title | uppercase | translate}}
            </a>
            <div ngbDropdownMenu aria-labelledby="nav-dropdown">
              <li class="nav-item nav-sub-item" *ngFor="let subMenuItem of menuItem.subMenus" routerLinkActive="active">
                  <a class="nav-link" [routerLink]="subMenuItem.route">{{'MENU.' + subMenuItem.title | uppercase | translate}}</a>
              </li>
            </div>
          </div>
        </div>
      </div> 
    </ul>
  </div>

</nav>