<div class="container main-container">

    <h2 class="title mb-4">Preços</h2>
    <div class="subtitle mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum metus at arcu facilisis viverra in imperdiet elit. Integer in ultrices neque, ac auctor libero</div>
        
    <table class="table prices-table">
        <thead>
          <tr>
            <th scope="col">Consulta tipo 1</th>
            <th scope="col">Preço</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Individual</td>
            <td>40€</td>
          </tr>
          <tr>
            <td>Grupo</td>
            <td>50€</td>
          </tr>
        </tbody>
    </table>

    <table class="table prices-table">
        <thead>
          <tr>
            <th scope="col">Consulta tipo 2</th>
            <th scope="col">Preço</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Crianças</td>
            <td>30€</td>
          </tr>
          <tr>
            <td>Adultos</td>
            <td>45€</td>
          </tr>
        </tbody>
    </table>

    <table class="table prices-table">
        <thead>
          <tr>
            <th scope="col">Consulta tipo 3</th>
            <th scope="col">Preço</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Adultos</td>
            <td>60€</td>
          </tr>
          <tr>
            <td>Casais</td>
            <td>75€</td>
          </tr>
        </tbody>
    </table>

</div>
