<div class="container mt-5">

    <h2 class="title mb-5">Preços</h2>

    <table class="table prices-table">
        <thead>
          <tr>
            <th scope="col">Consulta tipo 1</th>
            <th scope="col">Preço</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Individual</td>
            <td>40€</td>
          </tr>
          <tr>
            <td>Grupo</td>
            <td>50€</td>
          </tr>
        </tbody>
    </table>

    <table class="table prices-table">
        <thead>
          <tr>
            <th scope="col">Consulta tipo 2</th>
            <th scope="col">Preço</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Crianças</td>
            <td>30€</td>
          </tr>
          <tr>
            <td>Adultos</td>
            <td>45€</td>
          </tr>
        </tbody>
    </table>

    <table class="table prices-table">
        <thead>
          <tr>
            <th scope="col">Consulta tipo 3</th>
            <th scope="col">Preço</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Adultos</td>
            <td>60€</td>
          </tr>
          <tr>
            <td>Casais</td>
            <td>75€</td>
          </tr>
        </tbody>
    </table>

</div>
