<div class="container main-container">

    <div id="{{sub.title}}" *ngFor="let sub of subInterventions">

        <div class="row col-lg-12 justify-content-center py-4">
            <h1 class="title">{{sub.title}}</h1>
        </div>
    
        <section class="pb-5">
            <p>{{sub.description1}}</p>
        </section>
    
        <section class="pb-5">
            <div class="row">

                <div class="col-lg-6">
                    Prós
                    <ul>
                        <li *ngFor="let bullet1 of sub.bulletPoints1">{{bullet1}}</li>
                    </ul>
                </div>
                
                <div class="col-lg-6">
                    Contras
                    <ul>
                        <li *ngFor="let bullet2 of sub.bulletPoints2">{{bullet2}}</li>
                    </ul>
                </div>

            </div>

        </section>

        <section class="pb-5">
            <p>{{sub.description2}}</p>
        </section>

        <hr>

    </div>
    
</div>