<div class="row col-12 footer p-5 no-gutters">
    
    <div class="col-lg-4">
        <div>
            <span>Lorem ipsum dolor imet Lorem ipsum dolor imet Lorem ipsum dolor imet Lorem ipsum dolor imet Lorem ipsum dolor imet </span>
        </div>
        <div class="footer-social-media mt-2">
            <a class="social-icon" href="#"><fa-icon [icon]="linkedInIcon" size="2x"></fa-icon></a>
            <a class="social-icon" href="#"><fa-icon [icon]="facebookIcon" size="2x"></fa-icon></a>
            <a class="social-icon" href="#"><fa-icon [icon]="instagramIcon" size="2x"></fa-icon></a>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-2 offset-lg-2">
                <fa-icon class="communication-icon" [icon]="phoneIcon" size="2x"></fa-icon>
            </div>
            <div class="col-lg-8">
                <span class="communication-text">912 345 678</span>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-2 offset-lg-2">
                <fa-icon class="communication-icon" [icon]="mailIcon" size="2x"></fa-icon>
            </div>
            <div class="col-lg-8">
                <span class="communication-text">email@email.com</span>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-2 offset-lg-2">
                <fa-icon class="communication-icon" [icon]="locationIcon" size="2x"></fa-icon>
            </div>
            <div class="col-lg-8">
                <span class="communication-text">Rua dos alhos</span>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <p class="opening-hours-title">Horário de funcionamento</p>
        <p class="opening-hours-subtitle">Seg a Sex: 9:00 - 22:00</p>
        <p class="opening-hours-subtitle">Sábados: 9:00 - 12:00</p>
    </div>

</div>
