@import 'vars.scss';

.category-card {
    border: 1px blue solid;
}

.blog-card {
    border: 1px orange solid;
    margin-bottom: 2rem;
}

.blog-card-title {
    font-size: 2rem;
}

.blog-card-title-info {
    margin: 0rem 1rem;
}

.blog-card-content {

}

.blog-card-image {
    margin: 2rem 0rem;
}