<div class="container mt-5">

    <div class="row col-lg-12 justify-content-center">
        <h1>{{specialty.title}}</h1>
    </div>

    <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut tortor pretium viverra suspendisse potenti. Massa id neque aliquam vestibulum morbi blandit cursus risus. Commodo odio aenean sed adipiscing diam donec adipiscing tristique risus. Pretium lectus quam id leo. Diam quam nulla porttitor massa id neque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut tortor pretium viverra suspendisse potenti. Massa id neque aliquam vestibulum morbi blandit cursus risus. Commodo odio aenean sed adipiscing diam donec adipiscing tristique risus. Pretium lectus quam id leo. Diam quam nulla porttitor massa id neque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut tortor pretium viverra suspendisse potenti. Massa id neque aliquam vestibulum morbi blandit cursus risus. Commodo odio aenean sed adipiscing diam donec adipiscing tristique risus. Pretium lectus quam id leo. Diam quam nulla porttitor massa id neque.</p>
    </section>

    <section>
        Prós
        <ul>
            <li>Ponto 1</li>
            <li>Ponto 2</li>
            <li>Ponto 3</li>
        </ul>
    </section>

    <section>
        Contras
        <ul>
            <li>Ponto 1</li>
            <li>Ponto 2</li>
            <li>Ponto 3</li>
        </ul>
    </section>

</div>