<div class="container mt-5">
    
    <section>
        <div class="row">
            <div class="col-lg-4">
            <div class="text-center">
                <!-- <img title="firstImage"  src="" /> -->
                <fa-icon [icon]="icon" size="3x"></fa-icon>
                <p class="card-title mt-3">Title</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt, risus in fringilla placerat, ex tortor gravida diam, eu vulputate nisi ante quis massa. Donec.</p>
            </div>
            </div>

            <div class="col-lg-4">
            <div class="text-center">
                <fa-icon [icon]="icon" size="3x"></fa-icon>
                <p class="card-title mt-3">Title</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt, risus in fringilla placerat, ex tortor gravida diam, eu vulputate nisi ante quis massa. Donec.</p>
            </div>
            </div>

            <div class="col-lg-4">
            <div class="text-center">
                <fa-icon [icon]="icon" size="3x"></fa-icon>
                <p class="card-title mt-3">Title</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt, risus in fringilla placerat, ex tortor gravida diam, eu vulputate nisi ante quis massa. Donec.</p>
            </div>
            </div>
        </div>
    </section>

</div>