@import 'vars.scss';

.service-card {
    margin: 2rem;
}

.service-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.service-card .service-icon {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.service-card:hover .service-icon {
    font-size: 1.3rem;
    color: $primary-color;
}

.service-card .service-title {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.service-card:hover .service-title {
    font-size: 1.3rem;
    color: $primary-color;
}