<div class="container main-container">
    
    <section>

        <h2 class="title mb-4">Serviços</h2>
        <div class="subtitle mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum metus at arcu facilisis viverra in imperdiet elit. Integer in ultrices neque, ac auctor libero</div>
        
        <div class="row justify-content-md-center">

            <div *ngFor="let service of services" class="col-lg-4 service-card cursor-pointer" (click)="details(service.nameIdentifier)">
                <div class="text-center">
                    <fa-icon class="service-icon" [icon]="service.icon" size="3x"></fa-icon>
                    <p class="service-title mt-3">{{service.title}}</p>
                    <p>{{service.description}}</p>
                </div>
            </div>

        </div>
        
    </section>

</div>