<div class="container main-container">

    <h2 class="title mb-5">Sobre nós</h2>

    <div class="row col-lg-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit dui sit amet elit pellentesque, eget tincidunt ligula aliquam. Nunc scelerisque sagittis pretium. In hac habitasse platea dictumst. Maecenas pretium lobortis est id laoreet. Vivamus ullamcorper mauris quis hendrerit tempus. Vivamus in gravida nibh, eu viverra purus. In hac habitasse platea dictumst. Nunc eget turpis faucibus, pulvinar ligula vitae, dignissim libero. Sed vitae tellus ut neque finibus vulputate ac sed massa. Praesent vitae purus a augue vestibulum tempor a vel nisl. Nulla facilisi. Praesent sagittis faucibus dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <p>Duis diam nunc, tempor consequat commodo quis, pretium vehicula ante. Vestibulum odio purus, bibendum quis tempor sed, porttitor nec sem. Sed rhoncus enim pulvinar ultrices efficitur. Nam ante turpis, aliquam porta arcu at, ultricies efficitur justo. Vestibulum maximus, dolor bibendum feugiat vestibulum, mauris tortor malesuada libero, vel hendrerit odio felis at arcu. Donec dictum dignissim risus et hendrerit. Curabitur ut ligula erat. Pellentesque iaculis nisl a tellus malesuada finibus. Nullam eu ullamcorper tellus. Ut massa enim, congue sed pretium at, pulvinar id lectus. Vivamus facilisis lectus et orci aliquet, nec cursus orci volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras blandit nec dolor nec hendrerit. Ut nec mattis nulla. Aenean quis leo porttitor, mattis sem a, ullamcorper ligula.</p>
        <p>Vivamus volutpat eget enim non luctus. Pellentesque fringilla tincidunt ex, eu fermentum justo interdum et. Morbi placerat arcu et odio posuere efficitur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent elementum risus nec sapien suscipit sodales. Phasellus a urna varius, tempus sem quis, auctor ipsum. Sed hendrerit pulvinar cursus. Morbi maximus mi risus, eget eleifend ligula consequat id. Sed euismod luctus sem, ac commodo lacus imperdiet consequat. Cras bibendum nisi metus, nec interdum ligula mattis a. Vivamus porta neque orci, quis venenatis orci tincidunt a. Aliquam consectetur tempus neque, at elementum velit ornare sed.</p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ut quam nulla. Quisque eu arcu vitae libero accumsan hendrerit. Quisque id consectetur nisi. Cras pellentesque erat tellus, ac condimentum quam malesuada et. Suspendisse et nunc magna. Cras ullamcorper velit nulla, eu fermentum ante tristique fringilla. Sed eros orci, laoreet id ultricies sit amet, malesuada non enim. Praesent sit amet dictum massa, et iaculis ligula. Nullam non metus eget tellus ultrices pretium a sed elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras at lobortis nunc.</p>
    </div>

    <div class="row col-lg-12">
        <div class="col-lg-4">
            <img class="about-us-photo" src="../../../assets/img/carousel-img/carousel_1.jpg" alt="" />
        </div>
        <div class="col-lg-4">
            <img class="about-us-photo" src="../../../assets/img/carousel-img/carousel_2.jpg" alt="" />
        </div>
        <div class="col-lg-4">
            <img class="about-us-photo" src="../../../assets/img/carousel-img/carousel_3.jpg" alt="" />
        </div>
    </div>

</div>